@charset "utf-8";
#conform {
	width: 100%;
	margin-bottom: 100px;
}
h5 {
	color: red;
	font-size: 17px;
}
div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin-bottom: 30px;
}
div:last-of-type {
	margin-bottom: 0;
}
input, select {
	width: 895px;
	height: 60px;
}
textarea {
	width: 895px;
	height: 100px;
}
input, select, textarea {
	border-color: var(--color-text-secondary);
	color: var(--color-text-secondary);
	background-color: var(--color-white);
}
span {
	display: flex;
	flex-wrap: nowrap;
}
#contitle {
	margin-top: 127px;
	margin-bottom: 45px;
}
.agree-check input {
	width: 22px;
	height: 22px;
	margin-right: 20px;
}
.agree-check {
	justify-content: center;
}
strong {
	border-bottom: 1px black solid;
}
.confirmation-on {
	width: 100%;
	display: flex;
	justify-content: center;
}
.confirmation-on button {
	width: 366px;
	height: 60px;
	border-radius: 60px;
	background-color: #237C66;
	color: var(--color-white);
	text-align: center;
}
.confirmation button {
	width: 366px;
	height: 60px;
	border-radius: 60px;
	background-color: #eeffe6;
	color: #999999;
	text-align: center;
}